<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ELPG</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>update.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>resetpassword.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassServlet</display-name>
    <servlet-name>ResetPassServlet</servlet-name>
    <servlet-class>resetpassword.ResetPassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassServlet</servlet-name>
    <url-pattern>/ResetPassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>forgotpassword.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>forgotpassword.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServ</display-name>
    <servlet-name>AdminLoginServ</servlet-name>
    <servlet-class>adminlogin.AdminLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServ</servlet-name>
    <url-pattern>/AdminLoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>forgotpassword.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reset</display-name>
    <servlet-name>Reset</servlet-name>
    <servlet-class>resetpassword.Reset</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>deleteuser.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookCylinderServlet</display-name>
    <servlet-name>BookCylinderServlet</servlet-name>
    <servlet-class>bookcylinder.BookCylinderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookCylinderServlet</servlet-name>
    <url-pattern>/BookCylinderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookConfirmed</display-name>
    <servlet-name>BookConfirmed</servlet-name>
    <servlet-class>bookcylinder.BookConfirmed</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookConfirmed</servlet-name>
    <url-pattern>/BookConfirmed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributerLoginServlet</display-name>
    <servlet-name>DistributerLoginServlet</servlet-name>
    <servlet-class>login.DistributerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributerLoginServlet</servlet-name>
    <url-pattern>/DistributerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseLogin</display-name>
    <servlet-name>WarehouseLogin</servlet-name>
    <servlet-class>login.WarehouseLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseLogin</servlet-name>
    <url-pattern>/WarehouseLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCylinderToDistributer</display-name>
    <servlet-name>AddCylinderToDistributer</servlet-name>
    <servlet-class>bookcylinder.AddCylinderToDistributer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCylinderToDistributer</servlet-name>
    <url-pattern>/AddCylinderToDistributer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginWarehouse</display-name>
    <servlet-name>LoginWarehouse</servlet-name>
    <servlet-class>warehouse.LoginWarehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginWarehouse</servlet-name>
    <url-pattern>/LoginWarehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainWarehouse</display-name>
    <servlet-name>MainWarehouse</servlet-name>
    <servlet-class>warehouse.MainWarehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainWarehouse</servlet-name>
    <url-pattern>/MainWarehouse</url-pattern>
  </servlet-mapping>
</web-app>